<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application>
        <activity android:name="androidx.activity.ComponentActivity"
            android:theme="@style/Theme.AgentVoice" tools:replace="android:theme" />
        <activity android:name=".DesignPreviewActivity" android:exported="true" />
        <activity android:name=".PersonaPreviewActivity" android:label="Halo preview" android:exported="true"
            android:screenOrientation="fullUser" android:configChanges="orientation|screenSize|smallestScreenSize"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
